@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination-box {
  &__body {
    width: fit-content;
    margin: 0 auto 70px;

    &:after {
      content: '';
      clear: both;
      display: table;
    }

    &-leftarrow,
    &-rightarrow {
      float: left;
      line-height: 2.2rem;
      margin-top: 1px;
      padding: 0 2px;
      width: 32px;
      text-align: center;

      svg {
        vertical-align: middle;
      }
    }

    &__tooltip {
      display: inline-block;
      visibility: hidden;
      position: relative;
      height: 20px;
      line-height: 1rem;
      padding: 3px 0;
      border-radius: 3px;
      font-size: 0.8em;
      font-weight: 600;
      margin-bottom: 10px;

      &-container {
        padding-top: 60px;
        height: 40px;
      }

      &:after {
        top: 100%;
        left: 16px;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: red;
        border-width: 6px;
        margin-left: -6px;
      }
    }

    &__links {
      float: left;
      overflow: auto;

      &__list {
        list-style: none;
        display: flex;
        margin: 0 auto;
        margin-bottom: 9px;
        padding: 0;
        width: fit-content;
        border-right: solid 1px #999;

        &-item,
        &-item-active {
          position: relative;
          margin: 0;
          padding: 0;

          border: solid 1px #999;
          border-right: none;

          a {
            display: inline-block;
            line-height: 2.2rem;
            color: #333;
            width: 31px;
            text-align: center;

            &:hover {
              color: $color-secondary;
            }
          }
          &-active {
            background-color: $color-secondary;

            a {
              color: #fff;

              &:hover {
                cursor: initial;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
