@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tags {
  @include margin-bottom(0.5);

  &__list {
    &-item {
      display: inline-block;
      margin: 0 0 5px 0;

      &-link {
        display: inline-block;
        margin: 0 2px;
        padding: 0 6px;
        border: 1px solid $color-gray-border;
        text-decoration: none;
        color: $color-base;
        font-size: 0.9rem;

        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }
  }
}
