@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.language-switcher {
  order: 4;
  position: relative;
  border: solid 2px $color-secondary;
  overflow: hidden;
  width: 35px;
  height: 30px;
  background-color: #fff;
  margin: -5px -5px 0 5px;

  span {
    display: inline-block;
    width: 35px;
    &:first-child {
      font-size: 1.15rem;
    }
  }

  &__languages {
    text-align: center;
    font-weight: 600;
    width: 35px;
    line-height: 30px;
    z-index: 2;
    position: absolute;

    &__pointer {
      &:hover {
        cursor: pointer;
      }
    }

    &__unavailable {
      color: #b6b6b6;
    }

    &-active {
      display: none !important;
    }
  }
}

@include breakpoint-sm {
  .language-switcher {
    margin: 0 0 26px 0;
    width: 70px;

    &__back {
      position: absolute;
      z-index: 1;
      width: 35px;
      height: 100%;
      background-color: $color-secondary;
      transition: left ease 30ms;
    }

    &__languages {
      width: 70px;

      &-active {
        display: inline-block !important;
        color: #fff;
      }
    }
  }
}
