@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
  }

  &__title {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 600;
    margin: 0;
    @include line-height(1.125);
    @include breakpoint-sm {
      @include margin(0.5, 0, 0.3, 0);
    }

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base;
      }
    }
  }

  &__subtitle {
    display: none;
    color: $color-gray;
    @include line-height(0.8);
    @include margin-bottom(1);
    margin-top: 0;

    @include breakpoint-sm {
      display: block;
      @include margin-bottom(1.4);
    }
  }
}
