@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.meta {
  @include margin-bottom(1);

  &__emoji {
    vertical-align: middle;
    svg {
      margin-left: 0;
      color: #666;
    }
  }

  &__date {
    font-size: $typographic-small-font-size;
    font-weight: 600;
    @include margin-bottom(0.2);
  }

  &__category {
    line-height: 1rem;
    @include margin-bottom(0.1);

    &-link {
      font-size: $typographic-small-font-size;
      color: #222;
      text-transform: uppercase;
      display: inline-block;

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }

  &__tags {
    line-height: 1em;

    &-item {
      display: inline-block;
      border-radius: 0.15rem;
      font-size: 0.8rem;
      line-height: 1em;
      font-weight: normal;
      padding: 0;
      margin: 0 0.2rem 0.2rem 0;

      &-link {
        color: #888;

        &:hover {
          color: $color-primary;
        }
      }

      &:after {
        content: ',';
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }

  @include breakpoint-sm {
    @include margin-bottom(1.5);
  }
}
