@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
  width: 100%;
  position: fixed;
  background-color: #fff;

  &__inner {
    position: relative;
    padding: 15px 20px 0;
    display: flex;

    &__language-switcher {
      order: 4;
      position: relative;
      border: solid 2px $color-secondary;
      border-radius: 30px;
      overflow: hidden;
      width: 70px;
      height: 30px;

      span {
        display: inline-block;
        width: 35px;
        cursor: pointer;
      }

      &__languages {
        text-align: center;
        font-weight: 600;
        width: 70px;
        line-height: 30px;
        z-index: 2;
        position: absolute;
        transition: all 5000ms ease-in;

        &-active {
          color: #fff;

          &:hover {
            cursor: inherit;
          }
        }
      }

      &__back {
        position: absolute;
        z-index: 1;
        width: 35px;
        height: 100%;
        background-color: $color-secondary;
      }
    }
  }
}

@include breakpoint-sm {
  .sidebar {
    position: initial;
    width: 250px;
    // lost-column: 5/12;
    float: left;

    &__inner {
      padding: 30px 20px 0;
      display: block;
      &:after {
        background: $color-gray-border;
        background: linear-gradient(
          to bottom,
          $color-gray-border 0%,
          $color-gray-border 48%,
          $color-white 100%
        );
        position: absolute;
        content: '';
        width: 1px;
        height: 540px;
        top: 30px;
        right: -10px;
        bottom: 0;
      }
    }
  }
}

@include breakpoint-md {
  .sidebar {
    width: 280px;
    float: left;

    // lost-column: 1/3;
    &__inner {
      padding: 40px;
    }
  }
}
