@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.search {
  ul {
    padding: 0;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.25rem;
    margin-top: 0;
    margin-bottom: 2.35625rem;
  }

  &__count {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: solid 3px #333;
  }

  &__filter {
    margin-bottom: 2.35625rem;

    li {
      display: inline-block;
      list-style: none;

      &:hover {
        cursor: pointer;
      }
    }

    &__date {
      @include margin-bottom(0.9);

      &-year,
      &-month {
        display: inline-block;
        margin-right: 10px;

        & select {
          margin-right: 5px;
        }
      }
    }

    &__categories {
      &-title {
        font-size: 1.4rem;
        font-weight: 600;
        @include margin-bottom(0.3);
      }
      &-list {
        @include margin-top(0);
        @include margin-bottom(0);

        li {
          padding: 0.2rem 0.7rem;
          color: #222;
          border: 1px solid $color-secondary;
          font-size: 0.9rem;
          font-weight: normal;
          margin: 0 0.2rem 0.2rem 0;
        }

        &-item-selected {
          background-color: $color-secondary;
        }
      }
    }

    &__tags {
      @include margin-top(0.7);

      &-title {
        font-size: 1.4rem;
        font-weight: 600;
        @include margin-bottom(0.3);
      }

      &-list {
        @include margin-top(0);
        @include margin-bottom(0);

        li {
          padding: 0 0.5rem;
          color: #666;
          border-radius: 0.25rem;
          font-size: 0.9rem;
          font-weight: normal;
          margin: 0 0.2rem 0.2rem 0;
          background-color: rgb(221, 221, 221);
          &:before {
            content: '+ ';
            font-weight: bold;
          }
        }

        &-item-selected {
          color: rgb(221, 221, 221) !important;
          background-color: #666 !important;

          &:before {
            content: '\002713 ' !important;
          }
        }
      }
    }

    &__clear-specific {
      padding: 0 2px;
      font-weight: normal !important;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__clear {
      display: inline-block;
      line-height: 1.2rem;
      color: $color-primary;
      margin-top: 12px;
      padding: 0 5px 0 0;

      &:hover {
        cursor: pointer;
        border-bottom: solid 1px;
      }
    }
  }
}
