@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.blog-list {
  &__item {
    @include margin-bottom(1.25);

    &:last-child {
      @include margin-bottom(0.5);
    }

    &-title {
      font-size: 1.2em;
      @include line-height(1);
      @include margin-top(0);
      @include margin-bottom(0.1);

      &-link {
        color: $color-base;
        display: block;
        margin-bottom: 20px;

        &:hover,
        &:focus {
          color: $color-base;
          h2 {
            text-decoration: underline;
          }
        }
      }
    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(0.75);
    }

    &-meta {
      line-height: 1em;
      margin-bottom: 2px;
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }
        }
      }
    }
  }

  &__tags {
    line-height: 1.2rem;

    svg {
      color: #888;
      margin-left: 0;
    }

    span {
      display: inline-block;
      color: #888;
      border-radius: 0.15rem;
      font-size: 0.8rem;
      line-height: 1em;
      font-weight: normal;
      padding: 0;
      margin: 0 0.2rem 0.2rem 0;
      vertical-align: text-bottom;

      &:after {
        content: ',';
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}
