@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__inner {
    padding: 25px 20px;
  }

  &__footer {
    // max-width: $layout-post-width;
    max-width: 780px;
    // margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    // max-width: $layout-post-width;
    max-width: 780px;
    // margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    max-width: 90px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}

@include breakpoint-sm {
  .post {
    padding-top: 0;
    padding-left: 250px;
    // lost-column: 7/12;
    // max-width: 780px;

    &__container {
      overflow: auto;
    }
  }
}

@include breakpoint-md {
  .post {
    padding-left: 280px;

    &__footer {
      padding: 0;
      padding: 40px 35px;
    }

    &__comments {
      padding: 0;
      padding: 40px 35px;
    }

    &__home-button {
      // position: fixed;
      // max-width: auto;
      margin: 15px 0 0 35px;
      // top: 30px;
      // left: 30px;
    }
  }
}
