@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  margin-left: auto;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      display: inline-block;

      &-link {
        display: inline-block;
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: normal;
        padding: 0 4px;
        border-bottom: 1px solid transparent;

        span {
          display: none;
        }

        svg {
          vertical-align: text-top;
        }

        &:hover,
        &:focus {
          color: $color-base;
        }
        &:hover {
          border-bottom: 1px solid $color-secondary;
          svg {
            color: $color-secondary;
          }
        }

        &--active {
          color: $color-base;

          svg {
            color: $color-secondary;
          }

          &:hover,
          &:focus {
            cursor: inherit;
            border-bottom: solid 1px transparent;
          }
        }
      }
    }
  }

  @include breakpoint-sm {
    @include margin-bottom(1.4);

    &__list {
      &-item {
        display: block;
        padding: 0;
        margin: 10px 0;
        width: initial;
        height: initial;
        overflow: initial;

        &-link {
          padding: 0;

          svg {
            padding-right: 4px;
          }
        }

        span {
          display: inline-block;
        }
      }
    }
  }
}
